body {
  font-family: 'Share Tech Mono', sans-serif;
  color: #FFF;
  background-color:#000000;
  margin:0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

ul {
	list-style: none;
}

a {
  color:$mainPink;
}

h1 {
	text-align: center;
}

.h1-white {
	color: #FFF;
	font-size: 2rem;

 @mixin atMedium {
 		font-size: 4rem;
 }
}

.h1-pink {
	color: $mainPink;
	font-size: 2rem;

 @mixin atMedium {
 		font-size: 4rem;
 }
}
