.side-menu {
		position: fixed;
		top: 0;
		left: -50%;
		z-index: 100000; 
		background-color: $mainPink;
		background-size: 32%;
		height: 100%;
		width: 395px;
	
	&__content {
			opacity: 0;
		visibility: hidden;
		

		&--is-visible {
			opacity: 1;
			visibility: visible;
			left: 0;
			transition: 0.5s;
		}

	&__icon-side {
			position: fixed;
			right: 20px;
			top: 16px;
			background-color: transparent;
			border: none;
			padding: 0px;
			z-index: 100000;
			cursor: pointer;
		}

	&__overlay {

	    background: rgba(23, 51, 72, .98);
	    width: 100%;
	    height: 100%;
	    position: fixed;
	    top: 0px;
	    left: 0px;
	    z-index: 100000;
	    visibility: hidden;
	    display: none;

    	&--is-visible {
			opacity: 1;
			visibility: visible;
			display: block;
			z-index: 100000;
			transform: scale(1);
		}
	}	

}